body{
    background-color: #008C8C;
}

textarea{
    display: block;
    width: 80%;
    height: 15vh;
    padding: 0.5rem;
    margin: 1rem;
}

#output{
    border: 1px solid black;
    width: 80%;
    height: 15vh;
    padding: 0.5rem;
    margin: 1rem;
}